/* You are giving test in header hero a margin */
/* You should use 3 media queries for the three types of screen */
* {
    margin: 0;
    padding: 0;
    color: white;
    /* overflow: hidden; */
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
    background-color: black;
    /* width: 100%; */
    overflow-x: hidden;
}

header {
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 95vh;
    width: 100%;
}

/*  */
/* @media only screen and (max-width: 900px) { */
/* header { */
/* background-size: cover; */
/* width: auto; */
/* } */
/* } */

.opacity {
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: black;
    opacity: 69%;
}

nav {
    width: 100vw;
    position: relative;
    top: 10px;
    /* z-index: 10; */
}

.navcontainer {
    margin: auto 70px auto 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 40px;
}

.nav_btnscontainer {
    /* background-color: blue; */
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    /* padding: 10px; */
    margin: 11px;
    background-color: red;
    padding: 6px 13px;
    border: none;
    border-radius: 6px;
}

.lang_btn {
    padding: 5px 25px;
    /* color: white; */
    background-color: black;
    border: 1px solid #ffffff54;
    font-size: 15px;
    font-weight: 600;
}

.signbtn {
    font-weight: bolder;
    color: white;
}

/* Following code for hero */

.hero {
    /* margin: 15vh auto; */
    margin: 30vh auto;
    max-width: 70vw;
    color: white;
    text-align: center;
    position: relative;
    z-index: 10;
}

.hero :nth-child(1) {
    font-size: 3rem;
    font-weight: bolder;
}

.hero :nth-child(2) {
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero :nth-child(3) p {
    margin-top: 16px;
    font-size: 1.25rem;
    font-weight: 400;
}

.gtstrt_btn {
    padding: 10px 25px;
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}


.email_entry {
    padding: 10px 15px;
    font-size: smaller;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ffffff54;
    background-color: black;
    color: red;
    position: relative;
    left: 0px;
    top: 17px;
}

.email_entry::placeholder {
    color: rgba(255, 255, 255, 0);
    font-size: 15px;
    font-weight: 600;
    position: inherit;
    top: 7px;
}

.separator {
    width: 100%;
    height: 9px;
    background-color: rgb(35, 35, 35);
}

.cards {
    height: 60vh;
    display: flex;
    justify-content: space-around;
}

.textbhai {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textbhai span {
    font-size: 2.5rem;
    font-weight: 900;
}

.textbhai {
    font-size: 1.5rem;
}

.tvbox {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tvframe {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
}

.tvvideo {
    height: 100%;
    width: 80%;
    position: absolute;
}

/* media queries here */

@media only screen and (max-width: 960px) {
    .hero {
        margin-top: 10vh;
        color: white;
        /* text-align: center; */
        /* position: relative; */
        /* z-index: 10; */
    }

    .hero :nth-child(1) {
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .hero :nth-child(2) {
        margin-top: 16px;
        font-size: 1rem;
        font-weight: 400;
    }

    .hero :nth-child(3) p {
        margin-top: 16px;
        font-size: .75rem;
        font-weight: 400;
    }
}

@media only screen and (max-width: 900px) {
    .navcontainer {
        margin: auto 30px;
    }

    #logo {
        height: 25px;
    }

    .hero {
        margin: 15vh auto;
    }
    .textbhai span{
        font-size: 2rem;
    }
    .textbhai p{
        font-size: 1.1rem;
    }
    .tvvideo{
        width: 90%;
    }
}
@media only screen and (max-width:670px){
.cards{
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
.textbhai{
    width: 60%;
}
.tvbox{
    width: 80%;
}
}

@media only screen and (max-width:550px) {
    header {
        height: 90vh;
    }

    .opacity {
        height: 120%;
    }
}

@media only screen and (max-width: 404px) {
    .btns {
        margin: 5px;
        padding: auto;
    }

    .lang_btn {
        width: 60px;
    }

    .email_entry {
        position: static;
        width: 80%;
    }

    .gtstrt_btn {
        margin-top: 5px;
        font-size: 1rem;
    }
}


@media only screen and (max-width: 308px) {
    .navcontainer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 220px) {
    * {
        overflow: hidden;
    }

    .navcontainer {
        margin: auto;
    }

    .nav_btnscontainer {
        flex-direction: column;
    }
}

/* meida queries for height */
@media only  screen and (max-height:500px) {
    header{
        height: 120vh;
    }
}